<center>
<h2>ログイン完了</h2>
</center>
<div align="right"><%= @user.email %>さん、こんにちは！</div>
<div align="right"><%= @msg %></div>

<hr>
<center>

<div class="balloon3-right-btm">
<%=link_to "LINE", chat_show_path%>
</div>
</center>




<div><%=link_to 'Sign out&gt;&gt'.html_safe,destroy_user_session_path,method: :delete %></div>



