

<h1>ログイン完了</h1>
<h1><%= @user.email %></h1>
<p><%= @msg %></p>

<hr>
<h2><%=link_to "LINE", chat_show_url%></h2>

<hr>

<div><%=link_to 'Sign out&gt;&gt'.html_safe,destroy_user_session_path,method: :delete %></div>

