<h1>Chat</h1>



<br>
<label>Message:</label>
<input type="text" id="message_form" value="">
<br>

<input type="button" data-behavior="chat_input" value="Submit">

<h5>Received Messages</h5> 
<% @message.each do |m|%>
<p><%= m.body %></p>
<% end %>
<ul id="messages">
</ul>

