
<center>
<div class="balloon3-right-btm">
LINE
</div>
</center>


<div>メッセージ履歴</div> 
<center>
<% @message.each do |m|%>
    
    
<ul><%= m.name %>:<%= m.body %>:<%=link_to '×', chat_url(m.id) ,method: :delete, data: {confirm:"Are you sure?"} %></ul>
<% end %>
<ul id="messages"></ul>
</center>



<table>
<tr><th>ユーザー</th>
<th><input type="text" id="name_form" value="<%= @users %>"></th>
<th>メッセージ</th>
<th><input type="text" id="message_form" value="" size="80"><input type="button" data-behavior="chat_input" value="送信" ></th>
</tr></table>
