<h1>Chat</h1>

<h2><%= @users %>

<br>
<label>Message:</label>
<input type="text" id="message_form" value="">
<br>

<input type="button" data-behavior="chat_input" value="Submit">

<h5>Received Messages</h5> 
<% @message.each do |m|%>
<p><%= m.body %></p>
<% end %>
<ul id="messages">
</ul>

<!--左からの吹き出し-->
<div class="kaiwa">
 <figure class="kaiwa-img-left">
 <%= image_tag 'Mike.png',:size =>'100x100'%>
 <figcaption class="kaiwa-img-description">
     にゃー
 </figcaption>
 </figure>
 <div class="kaiwa-text-right">
   <p class="kaiwa-text">
   <ul id="messages">
   </ul>
   </p>
   </div>
</div>

<!--右からの吹き出し-->
<div class="kaiwa">
 <figure class="kaiwa-img-right">
   <%= image_tag 'ミニオンズ.png',:size =>'100x100'%>

 <figcaption class="kaiwa-img-description">
     にゃー
 </figcaption>
 </figure>
 <div class="kaiwa-text-left">
   <p class="kaiwa-text">
     にゃー！にゃー！にゃー！にゃー！にゃー！にゃー！にゃー！にゃー！
   </p>
 </div>
</div>