// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*--------------------
 吹き出しを作る
--------------------*/
.balloon3-right-btm {
  position: relative;
 display: inline-block;
 margin: 1.5em 15px 1.5em 0;
 padding: 0 5px;
 width: 100px;
 height: 80px;
 line-height: 90px;
 vertical-align: middle;
 text-align: center;
 color: #FFF;
 font-size: 20px;
 font-weight: bold;
 background: #5deb25;
 border-radius: 50%;
 box-sizing: border-box;
}

.balloon3-right-btm:before{
 content: "";
 position: absolute;
 bottom: -8px;
 right: -8px;
 margin-top: -15px;
 border: 15px solid transparent;
 border-left: 15px solid #5deb25;
 z-index: 0;
 -ms-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
}